// Import Bulma's core
@import "~bulma/sass/utilities/_all";

@font-face {
	font-family: FunnyDuck;
	src: url('~@/assets/fonts/FunnyDuck.ttf');
}

$family-primary: 'FunnyDuck', Helvetica, Arial, sans-serif;

$frontColor: #333;
$backColor: #fff;

$activeColor: #8a1e35;
$hoverColor: #1d1b1b;

//calculate filter from hex https://codepen.io/sosuke/pen/Pjoqqp
$frontColorFilter: invert(15%) sepia(0%) saturate(2%) hue-rotate(81deg) brightness(100%) contrast(85%);
$backColorFilter: invert(100%) sepia(1%) saturate(1136%) hue-rotate(208deg) brightness(116%) contrast(100%);

.frontColor {
	filter: $frontColorFilter;
	color: $frontColor;
}

.backColor {
	filter: $backColorFilter;
	color: $backColor;
}

//bulma overides
// https://bulma.io/documentation/customize/variables/
$primary: #8a1e35;
$primary-invert: findColorInvert($primary);

$colors: (
	"white": ($white, $black),
	"black": ($black, $white),
	"light": ($light, $light-invert),
	"dark": ($dark, $dark-invert),
	"primary": ($primary, $primary-invert),
	"info": ($info, $info-invert),
	"success": ($success, $success-invert),
	"warning": ($warning, $warning-invert),
	"danger": ($danger, $danger-invert)
);

@import '@/scss/timeline.scss';
@import '@/scss/eventline.scss';

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
