input, button {
    overflow: hidden;
	font-family: 'FunnyDuck', Helvetica, Arial, sans-serif;
	border-radius: .3rem;
    font-size: 1.8rem;
}

input {
	border: 1px solid rgba(34,36,38,.15);
	text-align: left;
	line-height: 2rem;
	padding: .2rem .5rem;
	background: #fff;
	color: rgba(0,0,0,.9);
}
input:focus {
	border-color: rgba(59, 120, 177, 0.377);
}
input:disabled {
    background: #eee;
    color: #888;
}

button {
    position: relative;
	cursor: pointer;
	border: none;
	background: #e0e1e2;
	color: rgba(0,0,0,.6);
	padding: .78rem 1.5rem .78rem;
	font-weight: bold;
	line-height: 1rem;
}
button:hover {
	background: #afafaf;
}
button:disabled {
    background: #eee;
    color: #888;
}

.group > input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.group > button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
}

.tint {
    background-color: rgba(0, 0, 0, 0.4);
}